<app-menu></app-menu>
<div class="container text-center">
    <div *ngIf="isLogged; else loggedOut"><h2>Bienvenido</h2>
        
    </div>
    <ng-template #loggedOut><h2>No has iniciado sesión</h2></ng-template>
</div>
